* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    display: block;
    min-height: auto;
    position: relative;
    font-family: 'League Spartan', sans-serif;
}

.logo1 {
    font-size: 2rem;
    text-align: center;
    margin: 20px 0;
}

.dashboard-form {
    border-radius: 10px;
    background: #ffecff;
    padding: 30px;
    margin: 20px;
}

.heading {
    font-weight: 700;
    font-size: 1.5rem;
}

.des {
    margin: 20px 0;
    font-size: 1.2rem;
    line-height: 25px;
}

.btn {
    border: none;
    outline: none;
    background: #febaff;
    color: #fff;
    padding: 10px 30px;
    border-radius: 5px;
    text-transform: uppercase;
    font-size: 1.1rem;
    cursor: pointer;
}

.hide {
    display: none;
}

/* form de aplicacion */
    
.apply-form {
    margin: 50px 40px;
    border-radius: 10px;
    background: #ffecff;
    padding: 30px;

}

.apply-form input,
textarea {
    font-weight: 500;
    border-radius: 5px;
    outline: none;
    border: 1px solid rgb(237, 234, 234);
    background: #ffffff;
}

.apply-form textarea {
    width: 80%;
    height: 70px;
    resize: none;
    padding: 10px 20px;
    margin-bottom: 20px;
    font-size: 1rem;
}

::placeholder {
    color: #000;
    font-family: 'League Spartan', sans-serif;
    font-size: 1.1rem;
    font-weight: 400;
}

.apply-form input {
    width: 30%;
    padding: 10px 20px;
    font-size: 1rem;
    margin-bottom: 20px;
}


.submit-btn {
    width: 20%;
    border: none;
    outline: none;
    background: #febaff;
    color: #fff;
    padding: 10px 30px;
    border-radius: 5px;
    text-transform: uppercase;
    font-size: 1.1rem;
    cursor: pointer;
    margin-left: 10px;
}


.loader {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100px;
    display: none;
}

.alert-box {
    width: 400px;
    min-height: 250px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 5px 100px rgba(0, 0, 0, 0.05);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    opacity: 0;
    pointer-events: none;
    transition: 1s;
}

/* alert box */

.alert-box.show {
    opacity: 1;
    pointer-events: all;
    top: 50%;
}

.icon-error {
    display: block;
    text-align: center;
    margin: 10px auto 20px;
    height: 100px;
    color: #fda1ff;
    font-size: 3.5rem;
    margin-top: 30px;
}

.alert-msg {
    font-size: 2.2rem;
    text-align: center;
}

/* product list */
.product-list {
    margin: 30px 30px;
}

.add-product {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #fedfff;
    padding: 10px 20px;
    border-radius: 10px;
    margin-bottom: 50px;
}

.add-product-title {
    font-size: 1.3rem;
    font-weight: 400;
}

.banner-img {
    display: block;
    margin: auto;
    position: relative;
}

.no-products {
    text-align: center;
    font-size: 1.7rem;
    position: absolute;
    top: 70%;
    left: 45%;
}