* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'League Spartan', sans-serif;
    text-decoration: none;
}

body {
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #f5f5f5;
}

.loader {
    position: absolute;
    top: 50%;
    left:50%;
    transform: translate(-50%, -50%);
    width: 100px;
    display: none;
}

.logo {
    margin-bottom: 30px;
    display: block;
    text-align: center;
    font-size: 2.3rem;
}

input[type="text"],
input[type="password"],
input[type="email"],
input[type="number"] {
    display: block;
    width: 400px;
    height: 40px;
    padding: 20px;
    border-radius: 5px;
    background: #fff;
    border: none;
    outline: none;
    margin: 20px 0;
    text-transform: capitalize;
    color: #383838;
    font-size: 1.2rem;
    box-shadow: 0 4px 10px rgba(0,0,0,0.01);
}

::placeholder {
    color: rgb(86, 85, 86) ;
}

.enviar-btn {
    width: 400px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    background: #fda1ff;
    color: #fff;
    border: none;
    outline: none;
    border-radius: 4px;
    text-transform: capitalize;
    font-size: 1.2rem;
    cursor: pointer;
    display: block;
    transition: .4s;
}

.enviar-btn:hover {
    color:#fda1ff;
    background: #fedfff;
    transition: .4s;
}


.link-form {
    font-size: 1.6rem;
    color:#fda1ff;
    text-decoration: none;
    display:flex;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
}

/* SIGNUP */

.alert-box {
    width: 400px;
    min-height: 250px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 5px 100px rgba(0,0,0,0.05);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    opacity: 0;
    pointer-events: none;
    transition: 1s;
}

.alert-box.show {
    opacity: 1;
    pointer-events: all;
    top: 50%;
}

.icon-error {
    display: block;
    text-align: center;
    margin: 10px auto 20px;
    height: 100px;
    color: #fda1ff;
    font-size: 3.5rem;
    margin-top: 30px;
}

.alert-msg {
    font-size: 2.2rem;
    text-align: center;
}